  
body {
    background-image: linear-gradient(to bottom right, rgb(218, 102, 102) , rgb(77, 10, 10)););

}


.Jumbotron.large {
    padding: 10px;
    color: #eee;
    border-bottom: 5px solid rgb(2, 2, 31);
    background-image: linear-gradient(180deg, rgb(2, 2, 19), rgb(14, 14, 59)); ;
}

.queryoptions {
    background: rgb(70, 9, 9);
    border-radius: 15px;
    border: 5px solid rgb(2, 2, 31)
}

.results {
    border: 5px solid rgb(2, 2, 31);
    background: rgb(179, 155, 155);
    border-radius: 15px;
}

label {
    color: #ccc;
    font-weight: bolder;
}

.loading {
	margin: 75px auto;
}